/* Base Styles */

/* 전체 페이지 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F7F9FA;
  }
  
  /* 네비게이션 바 스타일 */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #52a03394;
    padding: 10px 20px;
  }
  
  nav h1 {
    font-size: 26px;
    color: #1f7a3e;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 40px;
  }
  
  nav a {
    text-decoration: none;
    font-size: 18px;
    color: #1f7a3e;
  }
  
  /* 콘텐츠 영역 스타일 */
  .content {
    padding: 20px;
  }
  
  /* 개별 페이지 스타일 */
  
  /* Home 페이지 스타일 */
  .home-intro {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-intro h2 {
    font-size: 28px;
    color: #2C3E50;
  }
  
  .home-intro p {
    font-size: 16px;
    color: #555555;
  }
  
  .home-image {
    text-align: center;
    margin-top: 20px;
  }
  
  .home-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Trash 페이지 스타일 */
  .trash-content {
    padding: 20px;
    text-align: center;
    color: #2C3E50;
  }
  
  /* Bin 페이지 스타일 */
  .bin-content {
    padding: 20px;
    text-align: center;
    color: #2C3E50;
  }
  